<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
        }
        table {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            border-collapse: collapse;
        }
        td {
            padding: 10px;
            border: 1px solid #ddd;
        }
        a {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        .redirect {
            margin-top: 20px;
            background-color: rgb(255, 166, 0);
            color: #fff;
            text-align: center;
            border: none;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .otp {
            height: fit-content;
            width: fit-content;
            padding: 10px 15px;
            color: rgb(255, 166, 0);
            border-radius: 5px;
            border: 1px solid rgb(197, 197, 197);
            background-color: #fff;
        }
        .otp_holder {
            width: auto;
            height: auto;
            display: block;
        }
        @media (max-width: 600px) {
            td {
                padding: 20px;
            }
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                {{app_name}}
            </td>
        </tr>
        <tr>
            <td>
                Xin chào <strong>{{name}}</strong>,<br>
                Vui lòng xác nhận yêu cầu đặt lại mật khẩu của bạn.
                Lưu ý yêu cầu sẽ hết hạn trong <strong>{{minutes}} phút</strong>
            </td>
        </tr>
        <tr>
            <td style="text-align:center" class="otp_holder">
                <a href="{{redirectURL}}" class="redirect" style="color:#fff">Đặt lại mật khẩu</a>
            </td>
            
        </tr>
    </table>
</body>
</html>